<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246484480214-jjfum0km10bl8gekh2thvgov6qvit3up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246484480214-jjfum0km10bl8gekh2thvgov6qvit3up</string>
	<key>API_KEY</key>
	<string>AIzaSyCtYuD8PAG6Rz2v-oGbNW4h399yH7SNtGk</string>
	<key>GCM_SENDER_ID</key>
	<string>246484480214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joeyc.Comics</string>
	<key>PROJECT_ID</key>
	<string>comics-firebase-test</string>
	<key>STORAGE_BUCKET</key>
	<string>comics-firebase-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246484480214:ios:865d0ba185c21a61239977</string>
</dict>
</plist>